:root{
	--background-image-url-02: url("./images/01-zuitt_2.png");
	--background-image-url-04: url("./images/02-zuitt_4.png");
	--background-image-url-08: url("./images/03-zuitt_8.png");
	--background-image-url-16: url("./images/04-zuitt_16.png");
	--background-image-url-32: url("./images/05-zuitt_32.png");
	--background-image-url-64: url("./images/06-zuitt_64.png");
	--background-image-url-128: url("./images/07-zuitt_128.png");
	--background-image-url-256: url("./images/08-zuitt_256.png");
	--background-image-url-512: url("./images/09-zuitt_512.png");
	--background-image-url-1024: url("./images/10-zuitt_1024.png");
	--background-image-url-2048: url("./images/11-zuitt_2048.png");
	--background-image-url-4096: url("./images/12-zuitt_4096.png");
	--background-image-url-8192: url("./images/13-zuitt_8192.png");

}

body {
	font-family: Arial, Helvetica, Sans-serif;
	text-align: center;
}

hr {
	max-width: 480px;
}

#board{
		width: 400px;
		height: 400px;
		background-color: #D4D7C1;
		border: 6px solid #8E955F;
		margin: 0 auto;

		display: flex;
		flex-wrap: wrap;
}

.tile {
		width: 90px;
		height: 90px;
		border: 5px solid #8E955F;
		font-size: 25px;
		font-weight: bold;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	.x2{

		background-color: #9EA776;
		color: rgba(0,0,0,0);
		background-image: var(--background-image-url-02);
		background-size: 100% 100%;
	}

	.x4{
		background-color: #747C50;
		color: rgba(0,0,0,0);
		background-image: var(--background-image-url-04);
		background-size: 100% 100%;

	}

	.x8{
		background-color: #767CA7;
		color: rgba(0,0,0,0);
		background-image: var(--background-image-url-08);
		background-size: 100% 100%;
	}

	.x16{
		background-color: #404464;
		color: rgba(0,0,0,0);
		background-image: var(--background-image-url-16);
		background-size: 100% 100%;
	}

	.x32 {
        background-color: #2D3047;
        color: rgba(0,0,0,0);
        background-image: var(--background-image-url-32);
        background-size: 100% 100%;
    }
                
    .x64 {
        background-color: #81929A;
        color: rgba(0,0,0,0);
        background-image: var(--background-image-url-64);
        background-size: 100% 100%;
    }
                
    .x128 {
        background-color: #64757D;
        color: rgba(0,0,0,0);
        background-image: var(--background-image-url-128);
        background-size: 100% 100%;
    }

    .x256 {
        background-color: #526066;
        color: rgba(0,0,0,0);
        background-image: var(--background-image-url-256);
        background-size: 100% 100%;
    }
                
    .x512 {
        background-color: #F0736A;
        color: rgba(0,0,0,0);
        background-image: var(--background-image-url-512);
        background-size: 100% 100%;
    }

    .x1024 {
        background-color: #ED5145;
        color: rgba(0,0,0,0);
        background-image: var(--background-image-url-1024);
        background-size: 100% 100%;
    }
                
    .x2048 {
        background-color: #82C0CC;
        color: rgba(0,0,0,0);
        background-image: var(--background-image-url-2048);
        background-size: 100% 100%;
    }
                
    .x4096 {
        background-color: #A8D3DC;
        color: rgba(0,0,0,0);
        background-image: var(--background-image-url-4096);
        background-size: 100% 100%;
    }
                
    .x8192 {
        background-color: #5FAFBF;
        color: rgba(0,0,0,0);
        background-image: var(--background-image-url-8192);
        background-size: 100% 100%;
    }